#log {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  background-color: #f5f5f5;
}

#log div {
  margin-bottom: 5px;
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

#hoveredItem {
  padding: 10px;
  background-color: #e8e8e8;
  font-weight: bold;
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #000000cc;
  backdrop-filter: blur(8px);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-width: 200px;
  z-index: 1000;
  font-size: 14px;
}

.context-menu-item {
  padding: 4px 8px;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  font-size: 13px;
}

.context-menu-item:hover {
  background-color: #7545d2;
}

.context-menu-divider {
  height: 1px;
  background-color: #ddd;
  margin: 8px 0;
}

#hoverMenu {
  display: none;
  position: absolute;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 12px;
  min-width: 280px;
  z-index: 1001;
  border: none;
  border-radius: 8px;
  backdrop-filter: blur(8px);

  .hover-menu-row {
    display: flex;
    margin-bottom: 8px;
    align-items: flex-start;
  }
}

/* 방 상태 라벨 호버시 */
#hoverMenu.black-bg {
  background-color: #000000cc;
  .hover-menu-label,
  .hover-menu-value {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
  }
}
/* bar 형태의 아이템 호버시 */
#hoverMenu.white-bg {
  background-color: #ffffffcc;
  color: #495057;
  font-size: 12px;
  .hover-menu-label {
    font-weight: 400;
  }
  .hover-menu-value {
    font-weight: 500;
    margin-left: auto;
  }
}

.group:hover {
  background-color: #f5f9ff;
}
