#visualization {
  height: 400px;
  border: 1px solid lightgray;
}
.timeline-item {
  /* background-color: lightblue; */
  /* padding: 2px; */
  /* border-radius: 5px;
    border-color: transparent !important; */
}
.vis-item {
  padding: 6px !important;
}
.vis-inner {
  padding: 0 !important;
  min-height: 100%;
}
.vis-inner > div {
  display: flex;
  min-width: 320px;
}
.vis-inner > div > div:first-child {
  width: 8px;
  max-width: 8px;
  flex: 1;
}
.vis-inner > div > div:last-child {
  flex: 1;
  padding: 20px;
}
.vis-inner > div > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vis-inner > div > div:last-child > div:first-child b {
  font-size: 18px;
  font-weight: bold;
  color: rgb(73, 80, 87);
}
.vis-inner > div > div:last-child > div:first-child span {
  font-size: 11px;
  font-weight: 500;
  border-radius: 16px;
  padding: 4px 12px;
}
.vis-inner > div > div:last-child p {
  font-size: 11px;
  font-weight: 500;
  color: rgb(74, 103, 221);
  margin: 8px 0px;
}
.vis-inner > div > div:last-child > div:last-child {
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
}
.vis-item.room-statuses {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  &.vis-selected {
    background-color: transparent !important;
  }
}
.vis-item-content {
  padding: 0 !important;
}
.room-statuses .vis-item-content {
  width: 100%;
}
/* 타임라인 그리드 스타일 */
.vis-text.vis-minor {
  font-size: 12px !important;
  text-align: center !important;
}
.vis-time-axis .vis-major {
  font-weight: bold !important;
  color: #495057 !important;
  font-size: 12px !important;
}
/* 그리드 오늘 색상 변경 */
.vis-time-axis .vis-minor.vis-today {
  background: #51318f;
}
.vis-time-axis .vis-grid.vis-today {
  background: #f4f0fb;
}
.vis-time-axis .vis-text.vis-today {
  color: white !important;
}
/* 그리드 휴일 색상 변경 */
.vis-time-axis .vis-major.vis-saturday,
.vis-time-axis .vis-major.vis-sunday {
  background: transparent !important;
  color: #495057 !important;
}

.vis-time-axis .vis-minor.vis-saturday,
.vis-time-axis .vis-minor.vis-sunday {
  background: #e44343;
}
/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: #fff4f4 !important;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}
.vis-item.in-progress:hover {
  border: 2px solid #a93434 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
.vis-item.in-progress.vis-selected {
  border: 2px solid #a93434 !important;
  background: #ee4d4d33 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
  color: #ed946b !important;
}
.vis-item.for-sale:hover {
  border: 2px solid #066d1e !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
.vis-item.for-sale.vis-selected {
  border: 2px solid #066d1e !important;
  background: #27a64433 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
  color: #27a644 !important;
}
.vis-item.checked-out:hover {
  border: 2px solid #7c0098 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
.vis-item.checked-out.vis-selected {
  border: 2px solid #7c0098 !important;
  background: #aa00d033 !important;
  color: #aa00d0 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
/* 
.vis-time-axis .vis-grid:hover {
  background: slateblue !important;
} */
