#visualization {
  height: 400px;
  /* border: 1px solid #eaeaea; */
}
.timeline-item {
  /* background-color: lightblue; */
  /* padding: 2px; */
  /* border-radius: 5px;
    border-color: transparent !important; */
  /* border-color: #eaeaea !important; */
}
.vis-item {
  padding: 6px !important;
}
.vis-inner {
  padding: 0 !important;
  min-height: 100%;
}
.vis-inner > div {
  display: flex;
  min-width: 320px;
}
.vis-inner > div > div:first-child {
  width: 8px;
  max-width: 8px;
  flex: 1;
}
.vis-inner > div > div:last-child {
  flex: 1;
  padding: 20px;
}
.vis-inner > div > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vis-inner > div > div:last-child > div:first-child b {
  font-size: 18px;
  font-weight: bold;
  color: rgb(73, 80, 87);
}
.vis-inner > div > div:last-child > div:first-child span {
  font-size: 11px;
  font-weight: 500;
  border-radius: 16px;
  padding: 4px 12px;
}
.vis-inner > div > div:last-child p {
  font-size: 11px;
  font-weight: 500;
  color: rgb(74, 103, 221);
  margin: 8px 0px;
}
.vis-inner > div > div:last-child > div:last-child {
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
}

.vis-item-content {
  padding: 0 !important;
}

/* 타임라인 그리드 스타일 */
.vis-time-axis .vis-grid.vis-sunday {
  border-right: 1px solid #cacaca;
}

.vis-time-axis .vis-major {
  font-weight: bold !important;
  color: #495057 !important;
  font-size: 12px !important;
  /* background: white !important; */
}
.vis-text.vis-minor {
  font-size: 12px !important;
  text-align: center !important;
  border-top: 1px solid #cacaca;
}

/* 그리드 오늘 색상 변경 */
.vis-time-axis .vis-minor.vis-today {
  background: #51318f;
}
.vis-time-axis .vis-grid.vis-today {
  background: #f4f0fb;
}
.vis-time-axis .vis-text.vis-today {
  color: white !important;
}

/* 그리드 휴일 색상 변경 */
.vis-time-axis .vis-major.vis-saturday,
.vis-time-axis .vis-major.vis-sunday {
  background: transparent !important;
  color: #495057 !important;
}

.vis-time-axis .vis-minor.vis-saturday,
.vis-time-axis .vis-minor.vis-sunday {
  background: #e44343;
}
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: #fff4f4 !important;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}

/* 그리드 청소날 색상 변경 */
.vis-time-axis .vis-minor.vis-tuesday {
  background: #f220a514;
  border-bottom: 2px solid #f220a5 !important;
  padding-bottom: 0px;
}
.vis-time-axis .vis-grid.vis-tuesday {
  background: white;
}
.vis-time-axis .vis-text.vis-tuesday {
  color: #f220a5 !important;
}

.vis-time-axis {
  /* background: white !important; */
}
.vis-day1 {
  /* border-left: 1px solid #cacaca; */
}

/* 진행 중인 '이용중' 일정 스타일 */
.vis-item.in-progress {
  background-color: #ed946b;
}
/* 지나간 '이용중' 일정 스타일 */
.vis-item.in-progress-past {
  background: #ee4d4d33;
  color: #ed946b !important;
}
/* '이용중' 일정 호버 및 선택시 */
.vis-item.in-progress:hover,
.vis-item.in-progress-past:hover,
.vis-item.in-progress.vis-selected {
  border: 2px solid #a93434 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
/* 지나간 '이용중' 일정 선택시 */
.vis-item.in-progress-past.vis-selected {
  border: 2px solid #a93434 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
/* 진행 중인 '판매중' 일정 스타일 */
.vis-item.for-sale {
  background-color: #27a644;
}
/* 지나간 '판매중' 일정 스타일 */
.vis-item.for-sale-past {
  background: #066d1e33;
  color: #27a644 !important;
}
/* 진행 중인 '판매중' 일정 호버 및 선택시 */
.vis-item.for-sale:hover,
.vis-item.for-sale-past:hover,
.vis-item.for-sale.vis-selected {
  border: 2px solid #066d1e !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
/* 지나간 판매 중 일정 선택시 */
.vis-item.for-sale-past.vis-selected {
  border: 2px solid #066d1e !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}

/* 진행 중인 '퇴실' 일정 스타일 */
.vis-item.leave {
  background-color: #aa00d0;
}
/* 지나간 '퇴실' 일정 스타일 */
.vis-item.leave-past {
  background: #aa00d033;
  color: #aa00d0 !important;
}
/* 퇴실 중 일정 호버 및 선택시 */
.vis-item.leave:hover,
.vis-item.leave-past:hover,
.vis-item.leave.vis-selected {
  border: 2px solid #7c0098 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
/* 지나간 퇴실 중 일정 선택시 */
.vis-item.leave-past.vis-selected {
  border: 2px solid #7c0098 !important;
  box-shadow: 0px 4px 8px 0px #00000014;
}
/* 
.vis-time-axis .vis-grid:hover {
  background: slateblue !important;
} */

.timeline-item-guest-name {
  font-size: 13px;
  font-weight: 700;
  margin-right: 4px;
}
.timeline-item-date {
  font-size: 11px;
}

.vis-item.room-statuses {
  position: relative; /* 배지 위치를 위한 상대 위치 설정 */
  border-radius: 8px;
  background: #00000005 !important;
  border: none !important;
  height: 68px;
  top: 4px !important;
  .vis-item-overflow {
    display: flex;
    justify-content: center;
    align-items: center;
    .vis-item-content > div {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
      span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        text-indent: -9999px;
        font-size: 0;
      }
    }
  }
}
.vis-item.room-statuses:hover {
  background: #00000014 !important;
}

/* room-statuses 자손 중에 div[data-count]가 있으면 .vis-item.room-statuses:after에 배지 표시 */
.vis-item.room-statuses:has(div[data-count]):after {
  content: attr(data-count);
  position: absolute;
  top: -4px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #252b39;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 1000;
}
